@import "tailwindcss";


body {
  min-height: 100vh;
  color: white;
  background:
    radial-gradient(900px circle at 20% 0%, rgba(56,189,248,0.18), transparent 40%),
    radial-gradient(800px circle at 80% 20%, rgba(34,211,238,0.18), transparent 40%),
    radial-gradient(600px circle at 50% 80%, rgba(168,85,247,0.12), transparent 40%),
    #000;
}

* {
  scroll-behavior: smooth;
}
